DataSummaries/
ExternalData/*
!ExternalData/ANI_out
!ExternalData/metaboliteTable.tsv
!ExternalData/ModelSEED-reactions-db.csv
!ExternalData/reactionTable.tsv
!ExternalData/reactionsToRemove.txt
!ExternalData/taxonomy.csv
!ExternalData/taxonomySAGs.csv
!ExternalData/tribalColors.csv
MergedData/
ProcessedModelFiles/

gurobi.log
*.pyc
.spyderworkspace
.ipynb_checkpoints